# .NET build artifacts
bin/
obj/
[Bb]uild/
[Ll]og/
*.user
*.suo
*.userprefs

# VS / Rider
.vs/
.idea/
*.sln.DotSettings

# CMake / C++ build artifacts
CMakeFiles/
CMakeCache.txt
cmake-build-*/
build/
out/
*.dir/

# OS junk
[Dd]esktop.ini
[Tt]humbs.db
.DS_Store

# Tools
.env
.vscode/
*.opendb
/tests/Runewire.Orchestrator.Tests/TestResults/b11ea113-dd2a-43a4-8e6e-2e43f27c2413/coverage.cobertura.xml
